name: catspeak
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0        # For HTTP requests
  image_picker: ^0.8.7+4
  record: ^5.0.4      # For audio recording
  permission_handler: ^11.3.1  # For microphone permissions 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
